/* website design */

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* header for the page */

nav {
  color: white;
  font-size: 46px;
  text-align: center;
}

/* search section */

#search-section {
  background-color: rgb(240, 252, 252);
}

/* city area */

.city {
  border: none;
}

.card-city {
  border: none;
}

/* 5 day forecast */
.cbforecast {
  margin: 20px;
}

.main-container {
  padding-bottom: 30px;
}

.row-blue {
  background-color: rgb(240, 252, 252);
}
